{
  "root": true,
  "extends": ["next", "next/core-web-vitals", "plugin:@typescript-eslint/recommended"],
  "plugins": ["import", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "quotes": [2, "single"],
    "jsx-quotes": [2, "prefer-single"],
    "import/order": [
      "error",
      {
        "groups": [ "builtin", "external", "parent", "sibling", "index"],
        "alphabetize": {
          "order": "asc"
        }
      }
    ]
  },
  "env": {
    "jest": true
  }
}
