body {
  margin: 0;
  padding: 0;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.page__nav li {
  margin: 0;
  padding: 20px;
  text-transform: uppercase;
}

.page__nav a {
  color: #000000;
  text-decoration: none;
}

.page main {
  flex-grow: 1;
}
